@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.head{
    height: 6vh;
    display: flex;

}

.img_title{
    width: 50%;
}

aside{
    border: solid 2px;;
}
.title-head{
    text-align: center;
    font-size: 3vh;
}

.Sidebar{
    margin-top: 1em;
    display: flex;
}

body
{
	font:12px Arial, sans-serif
}

table,
td,
th
{
	border:1px solid #434040;
	border-collapse:collapse;
}

aside
{
    margin: 2em 1.5em;
}

.correrati-wrapper{
    width: 8em;
    height: 2m;
}

.h4_section{
    padding-left: 3em;
}

.img_article{
    width: 100%;
}

.lista_wrapper{
    margin: 0;
}

.section-wrapper{
    display: flex;
    justify-content: space-around;
}
footer{
    margin-top: 1em;
    border-top: solid #434040;
}
